<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/mybookstore?serverTimezone=GMT%2B8&amp;useUnicode=true&amp;characterEncoding=utf-8</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">020402</property>
    <!--  Enable Hibernate's automatic session context management  -->
    <property name="current_session_context_class">thread</property>
    <!--  JDBC connection pool (use the built-in)  -->
    <property name="connection.pool_size">1</property>
    <!--  SQL dialect  -->
    <property name="hibernate.globally_quoted_identifiers">true</property>
    <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <!--  Echo all executed SQL to stdout  -->
    <property name="show_sql">true</property>
    <!--  Disable the second-level cache   -->
    <property name="cache.provider_class">org.hibernate.cache.internal.CacheKeyImplementation</property>
    <!--  Drop and re-create the datebookabase schema on startup  -->
    <property name="hbm2ddl.auto">update</property>
    <!--  Names the annotated entity class  -->
    <mapping class="com.example.bookstore.Entity.UserEntity"/>
    <mapping class="com.example.bookstore.Entity.BookEntity"/>
    <mapping class="com.example.bookstore.Entity.OrderEntity"/>
    <mapping class="com.example.bookstore.Entity.CartEntity"/>
    <mapping class="com.example.bookstore.Entity.OrderitemEntity"/>
  </session-factory>
</hibernate-configuration>